.editor__wrap {
  display: grid;
  grid-template-columns: 1fr repeat(2, 2fr);
  grid-template-rows: 250px 250px 250px;
  grid-gap: 5px;
  background-color: var(--light);
}

.editor__sections {
  background-color: var(--dark);
  color: var(--pink);
}

.editor__wrap__instructions {
  grid-row: 1 / 3;
  overflow: scroll;
}

.editor__wrap__comments {
  grid-row: 3 / 4;
}

.editor__wrap__edit-window {
  grid-row: 1 / 4;
}

.editor__wrap__display-window {
  grid-row: 1 / 3;
}

.editor__wrap__test-window {
  grid-row: 3 / 4;
}
