.background {
  display: flex;
  flex-direction: row;
  background-color: var(--background__color);
  margin: 0 0;
  padding: 10px;
  min-height: 100px;
}

.searchbar {
  width: 250px;
  margin-left: 100px;
}

.profile,
.score {
  margin: 0 150px;
}

.logoimg {
  height: 50px;
  width: 50px;
}
/* .score {
  margin-left: auto;
} */
