.background {
  display: flex;
  flex-direction: row;
  background-color: var(--dark);
  margin: 0 0;
  padding: 10px;
  min-height: 10vh;
}

.searchbar {
  width: 100%;
  align-self: center;
}

.logoimg {
  height: 50px;
  width: 50px;
}
