.dashboard__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 400px 400px;
  background-color: #fcfbf7;
  padding: 20px;
}
/***** PROFILE COMMON STYLES****/

.profile__container,
.profile__askD,
.profile__progress__question,
.dashboard_progress_and_question {
  display: flex;
  flex-direction: column;

  margin: 30px;
  padding: 20px;
  border: 2px solid #2a4e61;
  background-color: white;
  box-shadow: 2px 5px darkgray;
  border-radius: 3px;
}

/*****PROFILE MAIN*********/
.profile__container {
}

.profileImg {
  align-self: center;
}

.profile__container > p {
  align-self: center;
}

/*****PROFILE ASKD*********/
.profile__askD {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*****PROFILE PROGRESS BAR*********/
.profile__progress__bar {
  height: 100px;
}

.dashboard_progress_and_question {
  overflow: scroll;
}

.progress__bar {
  height: 20px;
  border-radius: 5px;
  border: 2px solid black;
  padding: 0;
}

.progress__bar__filler {
  background: #618598;
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}

.profile__progress__question {
  overflow: scroll;
}
